.cardContainer {
    background-color: #3C3E44;
    border-radius: 10px;
    display: flex;
    width: 35%;
    height: 170px;
    gap: 20px;
    overflow: hidden;
    min-width: 400px;
}

.imgAvatar {
    height: 100%;
    width: 40%;
    background-size: contain;
}

.containerInfo {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.containerDetailsTitle {
    font-size: 18px;
}

.containerDetailsStatusLive {
    font-size: 16px;
    color: green;
}

.containerDetailsStatusDead {
    font-size: 16px;
    color: red;
}

.containerDetails {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.textGray {
    color: gray;
    font-weight: 600;
}

 span {
    color: white;
    letter-spacing: 1px;
}